.tippy-box[data-theme~="custom"] {
  color: black;
  background-color: white;
  opacity: 1;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  z-index: 9999;
}

.tippy-box[data-theme~="custom"][data-placement^="top"] > .tippy-arrow::before {
  border-top-color: white;
}
.tippy-box[data-theme~="custom"][data-placement^="bottom"]
  > .tippy-arrow::before {
  border-bottom-color: white;
}
.tippy-box[data-theme~="custom"][data-placement^="left"]
  > .tippy-arrow::before {
  border-left-color: white;
}
.tippy-box[data-theme~="custom"][data-placement^="right"]
  > .tippy-arrow::before {
  border-right-color: white;
}
