* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #131016;
}

.Content {
  display: flex;
  overflow: hidden;
  height: 100vh;
}

hr {
  opacity: 0.1;
  background-color: rgb(255, 255, 255);
}
