$positiveGreen: #5bbe84;
$negativeRed: #c43d3d;
$mainSelected: #1b1824;

.chart {
  width: 100%;

  &-btn-group {
    display: flex;
    justify-content: space-around;

    &-change {
      display: flex;
      align-items: center;
      margin-top: 2px;

      &__value {
        color: $positiveGreen;
        font-weight: 600;

        &--red {
          color: $negativeRed;
        }
      }
    }

    &__btn-change {
      width: 90px;
      height: 30px;
      outline: none;
      border-radius: 10px;
      border: 1px solid rgba(119, 119, 119, 0.6);
      font-weight: 500;
      color: white;
      background-color: #231f2e;
      transition: all 0.2s ease-in-out;
      z-index: 20;
      cursor: pointer;

      &:hover {
        box-shadow: inset 100px 0 0 0 #8e48ff;
      }

      &--active {
        background-image: linear-gradient(
          to right,
          #8e48ff 0%,
          #9156f0 51%,
          #8e48ff 100%
        );
        border: 1px solid #8e48ff;
        transition: all 0.2s ease-in-out;
      }
    }

    input[type="number"] {
      width: 140px;
      padding: 0 12px;
      text-align: left;
      height: 30px;
      border-radius: 10px;
      border: 1px solid rgba(119, 119, 119, 0.6);
      background-color: #1b1824;
      color: white;
    }
  }

  .line-chart {
    position: relative;
    width: 100%;
    height: 400px;
    padding-bottom: 12px;
    cursor: crosshair;

    #myChart {
      width: 1px;
    }
  }
}

@media (max-width: 1230px) {
  .chart {
    .line-chart {
      width: 100%;
      height: 242px;
      margin-top: 0px;
      padding-bottom: 0;
    }

    .chart-btn-group {
      &__btn-change,
      input[type="number"] {
        transform: scale(0.8);
      }

      &__btn-change {
        &:hover {
          background-color: #8e48ff;
        }

        &-max {
          &:hover {
            background-color: $negativeRed;
          }

          &--active {
            &:hover {
              background-color: $negativeRed;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 770px) {
  .chart {
    .line-chart {
      width: 100%;
      height: 242px;
      margin-top: 0px;
      padding-bottom: 0;
    }
  }
}

@media (max-width: 770px) {
  .chart {
    &-btn-group {
      &__btn-change {
        &-max {
          display: none;
        }
      }
    }
    .line-chart {
      height: 235px;
    }
  }
}

@media (max-width: 595px) {
  .chart {
    #chart-60d {
      display: none;
    }
  }
}

@media (max-width: 425px) {
  .chart {
    #chart-1y {
      display: none;
    }
  }
}

@media (max-width: 335px) {
  .chart {
    #chart-30d {
      display: none;
    }
  }
}
