@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

* {
  font-family: "Rubik", sans-serif;
}

$positiveGreen: rgb(91, 190, 132);

.coin-card {
  display: flex;
  align-items: center;
  height: 82px;
  margin-right: 35px;
  border-bottom: 1px solid #1b1824;

  .fav {
    width: 21px;
    height: auto;
    color: rgb(218, 176, 40);
    margin: 25px 20px 20px 20px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;

    &--empty {
      @extend .fav;
      color: grey;
    }
  }

  .rank {
    width: 400px;
    height: auto;

    &__number {
      color: white;
      margin-right: 5px;
      margin-left: 32px;
      align-items: center;
      user-select: none;
    }
  }
}

.coin-info {
  display: flex;
  width: 1000px;
  margin-right: 60px;
  cursor: pointer;

  &__img-container {
    display: flex;
    align-items: center;

    .coin-info__img {
      width: 40px;
      height: 40px;
      margin-right: 12px;
      pointer-events: none;
      user-select: none;
    }
  }

  &-column {
    width: 120px;
    display: flex;
    flex-direction: column;
  }

  &__name {
    font-weight: 600;
    letter-spacing: 0.5px;
    color: white;
    pointer-events: none;
    user-select: none;
  }

  &__id {
    color: gray;
    font-size: 13px;
    margin-top: 5px;
  }

  &__chevron {
    width: 22px;

    margin-left: 5px;
    height: auto;
    color: white;
  }
}

.coin-overall {
  display: flex;
  width: 60%;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
  cursor: pointer;

  &__price {
    color: white;
    font-weight: 600;
    margin-bottom: 1px;
    margin-left: auto;
  }

  &-row {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    align-items: center;
  }

  &__arrow {
    color: $positiveGreen;
    align-items: center;

    &--red {
      color: rgb(196, 61, 61);
    }
  }

  &__percentage {
    color: $positiveGreen;
    margin-top: 2px;

    &--red {
      color: rgb(196, 61, 61);
      margin-top: 2px;
    }
  }
}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 30px;
  padding: 0px 5px;
  width: 400px;
  height: 70px;
  border-radius: 5px;
  cursor: pointer;

  &--active {
    background-color: #1b1824;
  }

  &__percentage {
    color: $positiveGreen;
    font-weight: 600;
    margin-bottom: 4px;
    margin-top: 15px;

    &--red {
      font-weight: 600;
      margin-bottom: 4px;
      margin-top: 15px;
      color: rgb(196, 61, 61);
    }
  }

  &__period {
    color: gray;
    font-size: 13px;
  }
}

.mini-chart-container {
  height: 65px;
  margin-left: 30px;
  margin-right: 20px;

  svg {
    height: 100%;
  }
}
