@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

@mixin hide {
  display: none;
}

$positiveGreen: rgb(91, 190, 132);
$negativeRed: rgb(196, 61, 61);
$mainSelected: #1b1824;

.expand-default {
  margin-right: 30px;
  border-bottom: 1px solid $mainSelected;

  &:hover {
    background-color: rgba(39, 38, 44, 0.1);

    .coin-info__chevron {
      background-color: #524577;
    }
  }
}

.expand-true {
  margin-bottom: 15px;
  border-radius: 20px;
  animation: open 0.3s ease-in-out forwards;
  overflow: hidden;
}

.loading-position {
  position: absolute;
  top: 26%;
  left: 52%;
  animation: fadeIn 0.6s ease-in-out forwards;
}

.coin-overall-container {
  display: flex;
  align-items: center;
  margin-left: auto;
  justify-content: flex-end;
  width: 100%;
}

.expand-false {
  animation: close 0.3s ease-in-out forwards;
}

@keyframes open {
  0% {
    height: 82px;
  }

  100% {
    height: 500px;
    background-color: $mainSelected;
  }
}

@keyframes close {
  0% {
    height: 500px;
  }

  100% {
    height: 83px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 100%;
  }

  100% {
    opacity: 0%;
  }
}

.coin-card {
  display: flex;
  height: 82px;
  align-items: center;
  animation: fadeIn 0.2s ease-in-out forwards;

  .fav {
    width: 21px;
    height: auto;
    color: rgb(235, 188, 35);
    margin: 25px 20px 20px 20px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;

    &--empty {
      @extend .fav;
      color: grey;
    }
  }

  .rank {
    margin-left: 30px;
    margin-right: 10px;
    width: 1px;
    &__number {
      color: white;
      user-select: none;
    }
  }
}

.coin-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 30px;
  cursor: pointer;

  &__img-container {
    display: flex;
    align-items: center;

    .coin-info__img {
      width: 40px;
      height: 40px;
      margin-right: 12px;
      pointer-events: none;
      user-select: none;
    }
  }

  &-column {
    width: 120px;
    display: flex;
    flex-direction: column;
  }

  &__name {
    font-weight: 600;
    letter-spacing: 0.5px;
    color: white;
    pointer-events: none;
    user-select: none;
  }

  &__id {
    color: gray;
    font-size: 13px;
    margin-top: 5px;
    pointer-events: none;
    user-select: none;
  }

  &__chevron {
    width: 22px;
    height: auto;
    background-color: $mainSelected;
    border-radius: 50px;
    color: white;
    transition: all 0.2s ease-in-out;
    margin-left: 5px;

    &-container {
      display: flex;
      align-items: center;
    }

    &:hover {
      background-color: #524577;
    }
  }

  &__chevron-down {
    @extend .coin-info__chevron;
    transform: rotate(-90deg);
    background-color: #524577;
  }
}

.coin-overall {
  display: flex;
  width: 10%;
  flex-direction: column;
  align-items: center;
  margin-right: 70px;
  cursor: pointer;

  &__price {
    color: white;
    font-weight: 600;
    margin-left: auto;
    margin-top: -3px;
    padding-bottom: 4px;

    &-text {
      color: grey;
      font-size: 13px;
      margin-left: auto;
    }
  }

  &__24hr {
    color: grey;
    &-icon {
      color: grey;
    }
  }
}

.coin-market-cap {
  width: 130px;
  align-items: center;

  &__market-cap {
    color: rgb(187, 187, 187);
    font-weight: 600;
    margin-top: -3px;
    padding-bottom: 4px;
    text-align: center;

    &-text {
      color: grey;
      font-size: 13px;
      text-align: center;
    }
  }
}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 35px;
  padding: 0px 5px;
  width: 120px;
  height: 70px;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: rgba(66, 66, 66, 0.1);
  }

  &--active {
    background-color: $mainSelected;

    &:hover {
      background-color: $mainSelected;
    }
  }

  &__percentage {
    color: $positiveGreen;
    font-weight: 600;
    margin-bottom: 4px;
    margin-top: 15px;

    &--red {
      font-weight: 600;
      margin-bottom: 4px;
      margin-top: 15px;
      color: $negativeRed;
    }
  }

  &__period {
    color: gray;
    font-size: 13px;
  }
}

.mini-chart-container {
  height: 65px;
  margin-left: 35px;
  margin-right: 20px;
  user-select: none;

  svg {
    height: 100%;
  }
}

//increases size of sparkline charts for larger screens
@media (min-width: 2200px) {
  .mini-chart-container {
    svg {
      width: 400px;
    }
  }
}

// hides market cap stat and adjusts time boxes to create more room
@media (max-width: 1610px) {
  .coin-market-cap {
    @include hide();
  }

  .coin-overall {
    margin-right: 25px;
  }

  .time {
    margin-left: 30px;
    width: 110px;
  }
}
