@import "./ScrollBar";

.fav-container {
  width: 100%;
  padding: 0px 20px 0px 20px;
  overflow-y: hidden;
  overflow-x: hidden;

  .coins-container {
    margin-top: 10px;
    overflow-y: hidden;
    margin: 70px -30px 20px 110px;
  }
}

.no-coins {
  display: flex;
  flex-direction: column;
  height: 90vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 25px;
  animation: fadeIn 0.5s ease-in-out forwards;

  h1 {
    color: rgb(194, 194, 194);
    font-size: 50px;
  }

  p {
    color: rgb(194, 194, 194);
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
  }

  button {
    width: 250px;
    height: 50px;
    color: rgb(215, 181, 255);
    background-color: transparent;
    border: 2px solid rgb(144, 56, 245);
    border-radius: 10px;
    font-size: 18px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
      box-shadow: inset 255px 0 0 0 #8e48ff;
      color: white;
    }
  }
}

@media (max-width: 1105px) {
  .no-coins {
    transform: scale(0.9);
  }
}

@media (max-width: 1025px) {
  .fav-container {
    .coins-container {
      margin: 70px -30px 20px -3px;
    }
  }
}

@media (max-width: 525px) {
  .no-coins {
    transform: scale(0.8);
  }
}
