@import "./ScrollBar";

.home-container {
  width: 100%;
  padding: 0px 20px 0px 20px;
  overflow-y: hidden;
  overflow-x: hidden;

  .coins-container {
    overflow-y: hidden;
    margin: 70px -30px 0px 110px;
  }
}

@media (max-width: 1370px) {
  .home-container {
    .coins-container {
      margin: 70px -30px 20px -3px;
    }
  }
}
