@import "./ScrollBar";

.home-container {
  width: 100%;
  padding: 0px 20px 0px 20px;
  overflow: hidden;
}

.coins-container {
  width: 93vw;
  margin-top: 10px;
  overflow-y: hidden;
  margin: 70px 0px 20px 110px;
}
