@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&display=swap");

$primary-color: #1b1824;

@mixin popEffect {
  transform: scale(1.1);
}

@mixin Flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidenav {
  @include Flex;
  position: relative;
  justify-content: space-between;
  margin-top: 35px;
  width: 100px;
  height: 90vh;
  background-color: $primary-color;
  border-radius: 12px;

  &-top-container,
  &-bottom-container {
    @include Flex;
  }

  &__logo {
    position: absolute;
    cursor: pointer;
    top: -35px;
    width: 75px;
    height: auto;
  }

  .logo__text {
    font-family: "Lato", sans-serif;
    line-height: 1;
    cursor: pointer;
    transition: all 0.1s ease-in-out;

    &:hover {
      @include popEffect();
    }

    &--moon {
      margin-top: 50px;
      color: white;
    }

    &--cake {
      margin-bottom: 40px;
      color: rgb(144, 56, 245);
    }
  }

  .icon {
    width: 25px;
    height: auto;
    color: rgb(175, 106, 255);
    margin: 20px 20px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;

    &-container {
      width: 100px;
      height: 65px;
      padding-left: 18px;
      cursor: pointer;
    }

    &-container--active {
      @extend .icon-container;
      background-image: linear-gradient(
        to right,
        rgb(255, 255, 255, 0.2),
        rgba(255, 0, 0, 0)
      );
      border-left: 3px solid white;
      padding-left: 15px;
    }

    &:hover {
      @include popEffect();
    }

    &--active {
      color: white;
    }
  }

  .icon--spin {
    @extend .icon;
    padding-top: 20px;
    padding-bottom: 20px;

    &:hover {
      transform: rotate(90deg);
    }
  }
}
