@import "../../Styles/ScrollBar";

.home-container {
  width: 100%;
  padding: 0px 20px 0px 20px;
  overflow-y: hidden;
  overflow-x: hidden;

  .coins-container {
    overflow-y: hidden;
    margin: 70px -19px 0px 110px;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  text-decoration: none;
  list-style: none;
  width: 100%;
  padding: 20px;
  margin-left: -15px;
  gap: 0 40px;

  &__button {
    padding: 5px 30px;
    background-color: transparent;
    color: white;
    font-weight: 500;
    font-size: 15px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    border: 1px solid #443850;
    cursor: pointer;

    &:hover {
      border: 1px solid #705092;
      background-color: #705092;
    }
  }

  &__arrow {
    padding: 5px 10px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #443850;
    color: white;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: #705092;
    }
  }

  &--active {
    background-color: #705092;
  }
}

@media (max-width: 670px) {
  .pagination {
    transform: scale(0.9);
  }
}

@media (max-width: 570px) {
  .pagination {
    transform: scale(0.8);
  }
}

@media (max-width: 485px) {
  .pagination {
    transform: scale(0.7);
    margin-top: 10px;
    margin-left: -10px;

    &__button {
      height: 40px;
    }
  }
}

@media (max-width: 410px) {
  .pagination {
    gap: 0 20px;
  }
}

@media (max-width: 340px) {
  .pagination {
    gap: 0 10px;
  }
}

@media (max-width: 1025px) {
  .home-container {
    .coins-container {
      margin: 70px -21px 20px -3px;
    }
  }

  .pagination {
    padding: 30px 20px 12px 20px;
  }
}
